<div style="text-align:left">
  <h1>

    <h1>Uppercase Pipe</h1>
    <b>{{ title | uppercase }}</b>
    <br />

    <h1>Lowercase Pipe</h1>
    <b>{{ title | lowercase }}</b>
    <h1>Currency Pipe</h1>
    <b>{{ 6589.23 | currency: "USD" }}</b>
    <br />

    <b>{{ 6589.23 | currency: "USD":true }}</b>
    // Boolean true is used to get the sign of the currency.
    <h1>Date pipe</h1>
    <b>{{ todaydate | date: "d/M/y" }}</b>
    <br />

    <b>{{ todaydate | date: "shortTime" }}</b>
    <h1>Decimal Pipe</h1>
    <b>{{ 454.78787814 | number: "3.4-4" }}</b>
  </h1>
</div>
